<!doctype html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="{% block description %}{% endblock %}">
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>
