{% extends "_base.twig" %}

{% block title %}Welcome To Bravel{% endblock %}
{% block description %}The Welcome-Page for the Bravel starter{% endblock %}

{% block content %}

<p>Welcome To Bravel</p>
<a href="https://github.com/IanBrison/Bravel">Github</a>

{% endblock %}
